In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('credit_score_cleaned_train.csv')

In [4]:
pd.set_option('display.max_columns', None)
data

,id,customer_id,month,name,age,ssn,occupation,annual_income,monthly_inhand_salary,total_emi_per_month,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,type_of_loan,delay_from_due_date,num_of_delayed_payment,changed_credit_limit,num_credit_inquiries,credit_mix,outstanding_debt,credit_utilization_ratio,credit_history_age,payment_of_min_amount,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8434,49.574947,3,4,3,4,"['Auto Loan', 'Credit-Builder Loan', 'Personal...",3,7,11.27,4,Good,809.98,26.822620,265,No,80.415300,High_spent_Small_value_payments,312.49408,2
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8434,49.574947,3,4,3,4,"['Auto Loan', 'Credit-Builder Loan', 'Personal...",-1,7,11.27,4,Good,809.98,31.944960,266,No,118.280220,Low_spent_Large_value_payments,284.62915,2
2,0x1604,CUS_0xd40,March,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8434,49.574947,3,4,3,4,"['Auto Loan', 'Credit-Builder Loan', 'Personal...",3,7,11.27,4,Good,809.98,28.609352,267,No,81.699524,Low_spent_Medium_value_payments,331.20987,2
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8434,49.574947,3,4,3,4,"['Auto Loan', 'Credit-Builder Loan', 'Personal...",5,4,6.27,4,Good,809.98,31.377861,268,No,199.458070,Low_spent_Small_value_payments,223.45131,2
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.8434,49.574947,3,4,3,4,"['Auto Loan', 'Credit-Builder Loan', 'Personal...",6,4,11.27,4,Good,809.98,24.797346,269,No,41.420155,High_spent_Medium_value_payments,341.48923,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.4158,35.104023,4,6,7,2,"['Auto Loan', 'Student Loan']",23,7,11.50,3,Good,502.38,34.663570,378,No,60.971333,High_spent_Large_value_payments,479.86624,0
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.4158,35.104023,4,6,7,2,"['Auto Loan', 'Student Loan']",18,7,11.50,3,Good,502.38,40.565630,379,No,54.185950,High_spent_Medium_value_payments,496.65160,0
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.4158,35.104023,4,6,7,2,"['Auto Loan', 'Student Loan']",27,6,11.50,3,Good,502.38,41.255524,380,No,24.028477,High_spent_Large_value_payments,516.80910,0
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.4158,35.104023,4,6,7,2,"['Auto Loan', 'Student Loan']",20,6,11.50,3,Good,502.38,33.638206,381,No,251.672580,Low_spent_Large_value_payments,319.16498,1
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99,3359.4158,35.104023,4,6,7,2,"['Auto Loan', 'Student Loan']",18,6,11.50,3,Good,502.38,34.192463,382,No,167.163860,Low_spent_Large_value_payments,393.67370,0